src/classes/modules/jdisc/soap/LogonService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="InventoryLogon" targetNamespace="http://www.jdisc.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.jdisc.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.jdisc.com" elementFormDefault="unqualified" targetNamespace="http://www.jdisc.com" version="1.0">
<xs:element name="logoff" type="tns:logoff"/>
<xs:element name="logoffResponse" type="tns:logoffResponse"/>
<xs:element name="logon" type="tns:logon"/>
<xs:element name="logonResponse" type="tns:logonResponse"/>
<xs:complexType name="logon">
<xs:sequence>
<xs:element minOccurs="0" name="username" type="xs:string"/>
<xs:element minOccurs="0" name="password" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="logonResponse">
<xs:sequence>
<xs:element minOccurs="0" name="logonResult" type="tns:logonResult"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="logonResult">
<xs:sequence>
<xs:element minOccurs="0" name="status" type="tns:webServiceStatus"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
<xs:element minOccurs="0" name="sessionId" type="tns:sessionId"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="sessionId">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="userId" type="xs:int"/>
<xs:element minOccurs="0" name="clientHostname" type="xs:string"/>
<xs:element minOccurs="0" name="username" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="logoff">
<xs:sequence>
<xs:element minOccurs="0" name="session" type="tns:sessionId"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="logoffResponse">
<xs:sequence/>
</xs:complexType>
<xs:simpleType name="webServiceStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="InvalidArgument"/>
<xs:enumeration value="InvalidUser"/>
<xs:enumeration value="InvalidPassword"/>
<xs:enumeration value="InsufficientRights"/>
<xs:enumeration value="InvalidSession"/>
<xs:enumeration value="Failure"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="logoffResponse">
    <wsdl:part name="parameters" element="tns:logoffResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="logonResponse">
    <wsdl:part name="parameters" element="tns:logonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="logon">
    <wsdl:part name="parameters" element="tns:logon">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="logoff">
    <wsdl:part name="parameters" element="tns:logoff">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LogonWebService">
    <wsdl:operation name="logon">
      <wsdl:input name="logon" message="tns:logon">
    </wsdl:input>
      <wsdl:output name="logonResponse" message="tns:logonResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logoff">
      <wsdl:input name="logoff" message="tns:logoff">
    </wsdl:input>
      <wsdl:output name="logoffResponse" message="tns:logoffResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InventoryLogonSoapBinding" type="tns:LogonWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="logon">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="logon">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="logonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logoff">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="logoff">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="logoffResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InventoryLogon">
    <wsdl:port name="LogonWebServicePort" binding="tns:InventoryLogonSoapBinding">
      <soap:address location="http://localhost:9090/LogonWebServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
